@import "lib/bootstrap.min.css";
@import "lib/variables.less";
@import "lib/mixins.less";
@import "lib/typekit.less";

@bottom_margin: 14px;

.default-transition() {
    .transition(all 0.24s ease-in-out);
}
.section-container {
    background: rgba(0,0,0,.70);
    color: white;

    padding: 26px;
    margin-bottom: @bottom_margin;

    .box-sizing(border-box);
    .default-transition();
    .clearfix();

}

* {
    margin: 0px;
    padding: 0px;
}

html {
    height: 101%;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}
body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    background: url('../img/desktop.jpg') fixed;
    color: white;
    width: 756px;
    padding-bottom: 600px;
    margin: 50px 0px 50px 60px;
    position: relative;
}

nav {
    h1 {
        margin-bottom: 8px;
    }
    position: fixed;
    left: 835px;
    width: 177px;
    overflow: hidden;
    li {
        list-style: none;
        margin: 0 20px .5em 0;
        font-weight: normal;
        float: left;
        border-bottom: 1px solid rgba(0,0,0,.5);
        width: 100%;
        span {
            background-color: rgba(0,0,0,.5);
            padding: 4px 10px;
            display:inline-block;
            color: white;
            min-width: 25%;
            .box-sizing(border-box);
            .default-transition();
            .transition(width 0.24s ease-in-out);

            &.social {
                .transition(all 0.24s ease-in-out);
                background-position: 5px;
                background-repeat: no-repeat;
            }

            &.facebook {
                background-color: rgba(59,89,151,.5);
                background-image: url('../img/facebook.png');
                padding-left: 25px;
                background-position: 8px;
            }
            &.twitter {
                background-color: rgba(0,172,237,.5);
                background-image: url('../img/twitter.png');
                padding-left: 25px;
            }
            &.mailchimp {
                background-color: rgba(255,255,255,.5);
                color: black;
            }
        }
    }
    a:hover, .extend {
        span {
            background-color: rgba(0,0,0,0.9);
            width: 100%;
        }
        span.social {
            width: auto;
            color: white;
        }
    }
    .clearfix();
}

img {
    outline: 0;
    border: 0;
}

section {
    .section-container();
}
nav.submenu {
    border-top: none;
    margin-bottom: 20px;
    a {
        font-weight: normal;
    }
}

footer {
    .section-container();
}

h1, h2, h3, h4 { text-transform: uppercase; font-weight: normal;}

h1 {
    font-size: 28px;
    line-height: 40px;
    margin-bottom: 20px;
}
h2 {
    font-size: 24px;
    font-weight: normal;
    margin-bottom: 21px;
}
h3 {
    font-weight: normal;
    font-size: 20px;
    margin-bottom: 21px;
}
h4 {
    font-weight: normal;
}

a {
    text-decoration: none;
    color: white;
    .default-transition();
    &:hover {
        color: #eee;
        text-decoration: underline;
    }
    &:hover, &:active, &:visited {
        outline: 0px;
    }
}

p + p {
    margin-top: 20px;
}

.thumb-grid {
    .clearfix();
    list-style: none;
    li {
        float: left;
        width: 221px;
        margin: 0 20px 15px 0;
        p {
            margin-top: 5px;
        }
        &:nth-child(3n) {
            margin-right: 0;
        }
        ul {
            list-style: none;
            position: relative;
            .clearfix();
            li {
                position: absolute;
                top: 0;
                left: 0;
            }
        }
    }

}

.slides {
    opacity: 0;
    width: 221px;
    height: 221px;
}

section.studio {
    .persons {
        .thumb-grid();
        img {
            margin-bottom: .5em;
        }
        h3 {
            margin-bottom: 0;
            font-family: proxima-nova-1, proxima-nova-2, sans-serif;
            text-transform: none;
            font-weight: bold;
        }
    }
    .column-2 {
        width: 344px;
        float: left;
        margin: 0 15px 1em 0;
        padding: 13px 26px 26px;
        .box-sizing(border-box);
        background: rgba(0,0,0,0.6);
    }
    .column-2 + .column-2 {
        margin-right: 0;
    }
    .column-1 {
        .clearfix();
        clear: both;
        margin: 1em 0;
    }

        h1 {
            font-size: 2.25em;
            margin-bottom: .25em;
        }
}

section.contact {
    ul {
        width: 30%;
        margin: 0 5% 0 0;
        padding: 0;
        list-style: none;
        float: left;
        &:last-child {
            margin-right: 0;
        }
    }
}

.client-image a {
    text-decoration: none;
    font-size: .9em;
}
.client-image img:last-child {
    padding-right: 0px;
}

.carousel-next, .carousel-prev {
    .hide-text();
    width: 16px;
    height: 23px;
    text-indent: -9999px;
}
.carousel-next {
    background: url('../img/next.png');
}
.carousel-prev {
    background: url('../img/prev.png');
}